/* night owl-inspired colors */

/* 

convert to sass?
red: #FF555D;
purple headers: #D18DF0;
text: #329CBD;
li: #77A7FF;
background: #001629;
nav background: #000E1B;
yellow: #F6E183;
yel-grn: #BDE666;

*/
