
.photo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.contact {
  /* padding-top: 5px; */
  grid-area: ct;
}

.gh {
  padding-top: 15px;
  grid-area: gh;
  justify-self: end;
}

.li {
  padding-top: 15px;
  grid-area: li;
  justify-self: end;
}

.em {
  padding-top: 15px;
  grid-area: em;
  justify-self: end;
}

.contactBar {
  display: grid;
  grid-template-columns: repeat(auto, minmax(240px, 1fr));
  grid-template-rows: 100px;
  grid-template-areas: 
    "ct ct . . gh li em"
}