/* Colors

$background: #001629;
$red: #FF555D;
$purple: #D18DF0;
$text1: #329CBD;
$text2: #C1EDE6;
$lavender: #77A7FF;
$navBackground: #000E1B;
$yellow: #F6E183;
$yel-grn: #BDE666;

*/


html, 
body {
  padding: 0;
  margin: 0;
  font-family: Open Sans;
  background: #001629;
  color:  #329CBD;
}

a {
  color: inherit;
  text-decoration: none;
}

h1, h2, h3 {
  color: #D18DF0;
}

