$background: #001629;
$red: #FF555D;
$purple: #D18DF0;
$text1: #329CBD;
$text2: #C1EDE6;
$lavender: #77A7FF;
$navBackground: #000E1B;
$yellow: #F6E183;
$yel-grn: #BDE666;

.jlink {
  color: $red;
}

.jlink:hover {
  text-decoration: underline;
}
.nlink {
  color: $yel-grn
}

.nlink:hover {
  text-decoration: underline;
}

.alink {
  color: $purple;
}

.alink:hover {
  text-decoration: underline;
}

.sousContainer {
  // margin-top: 100px;
  // margin-left: -40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.D {
  color: $background;
  width: 60px;
  height: 60px;
  font-size: 42px;
  opacity: 0;
}

.empty {
  width: 60px;
  height: 60px;
  font-size: 42px;
  opacity: 1;
}

.D:hover {
  color: #fff;
  opacity: 1;
  border-radius: 10px;
  text-align: center;
}

