
.jlink {
  color: #FF555D;
}

.jlink:hover {
  text-decoration: underline;
}
.nlink {
  color:  #BDE666;
}

.nlink:hover {
  text-decoration: underline;
}

.alink {
  color:  #D18DF0;
}

.alink:hover {
  text-decoration: underline;
}

.sousContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
}


.D {
  color: #001629;
  width: 60px;
  height: 60px;
  font-size: 42px;
  opacity: 0;
}

.empty {
  width: 60px;
  height: 60px;
  font-size: 42px;
  opacity: 1;
}

.D:hover {
  color: #fff;
  opacity: 1;
  border-radius: 10px;
  text-align: center;
}

