.buttonContainer1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.buttonContainer2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.buttonBox button {
  border-radius: 5px;
  width: 220px;
  text-align: center;
  color: #C1EDE6;
  background-color: #001629;
  font-size: 16px;
}

.buttonBox button:hover {
  border: 0px;
  font-size: 18px;
  /* text-decoration: underline; */
}

.cc {
  /* line-height: 75px; */
  border: 1px solid #77A7FF;
}
.csx {
  padding: 15px;
  border: 1px solid #D18DF0;
}

.ej {
  padding: 15px;
  border: 1px solid #FF555D;
}

.pt {
  padding: 15px;
  border: 1px solid #BDE666;
}

