
.list ul li {
  list-style: none;
  color: #77A7FF;
}

.list li:hover {
  text-decoration: underline;
}

.link {
  color: #FF555D
}

.link:hover {
  text-decoration: underline;
}

.formula {
  margin: auto;
  width: 500px;
  padding: 10px;
  border: 1px solid #77A7FF;
  border-radius: 10px;
  /* background-color: #FF555D; */
}

